.yearPicker{
  display: flex;
  align-self: center;
}
.calendar {
  height: 100%;
  width: 100%;
  max-width: 80%;
  display: inline-table;
}
#technicalDiv>.calendar{
  max-height: 100%;
  width:50%;
  height: 50%;
}
.vc.day.content{
  width: 100%;
}
.batchMetadata{
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 25em;
  height: 40em;
  outline: solid 1px black;
  top:10%;
  right:39%;
  border-radius: 10px;
}
.batchInfo{
  display:none;
}
.batchInfo-is-active{
  display: block;
}
.newspaperList{
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #2c3e50;
  z-index: 20;
  cursor:pointer;
}
.errorMessageList{
  border-left: 1px solid #2c3e50;
  border-right: 1px solid #2c3e50;
  border-bottom: 1px solid #2c3e50;
  cursor: default;

}
.errorTypeList{
  cursor: pointer;
  overflow: scroll;
  max-height: 100%;
}

.batchMetadataNotes{
  right:17%
}
.focusedPageRow>*{
  background-color: rgba(176, 175, 160,0.2);

}
.focusedPageRow{
  box-shadow: 0px 1px 3px #6c6b6b;
}
#errorListDiv{
  height: 80%;
  max-height: 80%;
  //overflow-scrolling: auto;
  overflow: scroll;
  overflow-scrolling: auto;
}
#roundtripDropdown{
  width: 100%;
  height: 20%;
  max-height: 20%;
}
#roundtripDropdown>*{
  width: 100%;
  max-height: 34%;
}
.roundtripDropdownActive{
  background-color: rgba(176, 175, 160,0.2);
}
.newspaperTable{
  max-height: 45em;
  overflow: scroll;
  overflow-scrolling: auto;
}
.newspaperTableDiv{
  margin-bottom: 5px;
  margin-top: 15px;
}
.pageTable{
  //display: inline;
  max-height: 35em;
  overflow:scroll;
  overflow-scrolling: auto;
}